
#content-left

  %h1
    = link_to 'Materials', admin_materials_path

  // Stone lists: Antiques, Newly Crafted (Excluding ones with Antique in title), All
  %ul
    / ANTIQUES
    %li
      %a.collapsed
        .arrow
        %span.arrowTxt Antiques

      %ul
        = unless @materials_antique_in_title.blank?
          - @materials_antique_in_title.each do |mat|
            %li
              = link_to "#{mat.title} #{mat.material_type_title}", edit_admin_material_path(mat)
          end

    / NEWLY CRAFTED
    %li
      %a.collapsed
        .arrow 
        %span.arrowTxt Newly Crafted

      %ul
        - @materials_newly_crafted_sidebar.each do |mat|
          %li
            = link_to "#{mat.title} #{mat.material_type_title}", edit_admin_material_path(mat)

    / ALL
    %li
      %a.collapsed
        .arrow 
        %span.arrowTxt All Materials

      %ul
        - @materials_alpha.each do |mat|
          %li
            = link_to "#{mat.title} #{mat.material_type_title}", edit_admin_material_path(mat)
