
#content-left

  %h1 
    Edit Material

  / undefined method `each' for nil:NilClass
  / %ul
  /   - @materials.each do |material| 
  /     %li
  /       = link_to  material.title, edit_admin_material_path(material)


#content-center.TwoColumnFix

  = form_for @material, :url => admin_material_path do |f| 

    / undefined local variable or method `material' for #<#<Class:0x007fe173ac69d8>:0x007fe173823708>
    / = link_to  material.title, admin_material_path(material)

    / undefined local variable or method `material' for #<#<Class:0x007fe173ac69d8>:0x007fe173c1c6e8>
    / = button_to 'Delete', admin_material_path(material), :method => :delete, :confirm => "Are you sure?"

    = f.text_field :title

    = collection_select :material, :material_type_id, MaterialType.all, :id, :title, {:selected => @material.material_type_id }

    = f.label :finishes

    = f.text_area :description, :size => "50x5", :placeholder => "Description of material..."


    = f.submit





    / = collection_select :material, :finish_ids, Finish.all, :id, :title,
    /   { :selected => @material.finishes},
    /   { :multiple => true, :role => 'material[finish_ids][] }
    %br

    / 
    / = f.select('finish_ids', options_from_collection_for_select(@material.finishes, 'id', 'title'), {:multiple => 'multiple', :size => 10})
    /   %option{:value => ''}
    /     = Finishes
    /   - for @all_finishes.each do |finish|
    /     %option_for_select{:value => finish.id}
    /       =finish.title
    / %br
  
  
    / = f.select{:name => 'finish_ids', :size => 10} 
    / - for @all_finishes.each do |finish|
    /   %option{:value => finish.id}= finish.name
    /   
    / %br



  