
#content-left

  %h1 
    Edit Material

#content-center.TwoColumnFix

  = form_for @material, :url => admin_material_path do |f| 

    = f.text_field :title

    = collection_select :material, :material_type_id, MaterialType.all, :id, :title, {:selected => @material.material_type_id }
    
    %h4 Select finishe(s)

    %select#finish_ids{name: 'finish_ids', size: "5x20", multiple: true}
      - @all_finishes.each do |finish|
        - selected = '' 
        - selected = 'selected' if @material.finishes.include?(finish)
        %option{:value => finish.id, :selected => selected}=finish.title

    = f.text_area :description, :size => "50x5", :placeholder => "Description of material..."

    = f.submit
    
  %br
  = button_to 'Delete', admin_material_path(@material), :method => :delete, :confirm => "Are you sure?"




  