= render :partial => 'left_side_bar'

#content-center

  = form_for @material, :url => admin_material_path do |f| 

    / %h4 Title
    = f.text_field :title
    
    %h4 Material Type
    
    = f.select(:material_type_id, @all_material_types.collect {|mat_type| [ mat_type.title, mat_type.id ]}, { :include_blank => 'Material Type'})

    %h4 Select application(s)
    
    %select#applicationIds{name: 'material[application_ids][]', size: "5x20", multiple: true}
      - @all_applications.each do |app|
        %option{:value => app.id, :selected =>  @material.applications.include?(app) ? "selected" : nil}
          = app.title

    %h4 Description
    = f.text_area :description, :size => "50x5", :placeholder => "Description of material..."

    %h4 Material Specifications
    = f.text_area :specifications, :size => "50x5", :placeholder => "Specifications..."
    
    %h4 Technical Data
    = f.text_area :technical_data, :size => "50x5", :placeholder => "Technical Data..."

    %h4 Add a pdf file
    = f.file_field :pdf  
    
    - unless @material.pdf_file_name.nil?
      %p
        current pdf: 
        %a{:href => "/system/materials/pdfs/#{@material.id}/#{@material.pdf_file_name}"}
          = "#{@material.pdf_file_name} (#{number_to_human_size(@material.pdf_file_size)})"

    = f.submit :id => "update_material", :class => "submit"
    
  = button_to 'Delete Material', admin_material_path(@material), :method => :delete, :confirm => "Are you sure you want to delete this material and all of it's gallery images?", :class => "delete"    

  = button_to 'View Material Page', material_path(@material), :method => :get, :class => 'view'
  
  .clear


#content-right
  
  = render :partial => 'new_image_form', :locals => { :material => @material }
    
  - if @material.images.count != 0
    = render :partial => 'gallery', :locals => { :material => @material, :material_sorted_images => @material_sorted_images, :image_count => @material.images.count }  
  - else
    .placeholder-large