%h1 
  Edit Material
= form_for @material, :url => admin_material_path do |f| 
  = f.label :title
  = f.text_field :title
  %br
  = f.label :material_type
  = collection_select :material, :material_type_id, MaterialType.all, :id, :title, {:selected => @material.material_type_id }
  %br
  = f.label :finishes
  %br
  
  %select#finish_ids{name: 'finish_ids', size: "5x20", multiple: true}
    - @all_finishes.each do |finish|
      - selected = '' 
      - selected = 'selected' if @material.finishes.include?(finish)
      %option{:value => finish.id, :selected => selected}=finish.title  
  %br
  = f.text_area :description, :size => "50x5"
  
  %br
  %br
  %div{align: 'right'}
    = f.submit
  
  