= render :partial => 'admin/materials/form', :locals => { :material => @material}

%h1
  Edit Materials!!!
%ul
  - @materials.each do |material| 
    %li
      = link_to  material.title, admin_material_path(material)
      = link_to 'Edit', edit_admin_material_path(material)
      = link_to 'Destroy', admin_material_path(material), confirm: 'Are you sure?', method: :delete
      = button_to "Delete", :action => "destroy", :controller => "materials"
      

