
#globalAlert{class: "#{(flash.notice || flash.alert) ? '' : 'hidden'}"}
  .notice{class: "#{flash.notice ? '' : 'hidden'}"}
    %p= raw(flash.notice)
    .check

  .alert{class: "#{flash.alert ? '' : 'hidden'}"}
    %p= raw(flash.alert)
    .close