:coffeescript
  $(document).ready ->
    $('#globalAlert').click ->
      $(this).remove()
    
    # setupTimer
    setTimeout(removeAlert, 7000)
  
  removeAlert = ->
    $('#globalAlert').fadeOut('500', => $(this).remove())


#globalAlert{class: "#{(flash.notice || flash.alert) ? '' : 'hidden'}"}
  .notice{class: "#{flash.notice ? '' : 'hidden'}"}
    %p= raw(flash.notice)
    .close X

  .alert{class: "#{flash.alert ? '' : 'hidden'}"}
    %p= raw(flash.alert)
    .close X
    