
// ADMIN NAV

%ul#links-admin
  %li
    = link_to 'Admin Home', admin_path
  %li
    = link_to 'Manage Materials', admin_materials_path
    %ul
      %li
        = link_to 'Material Types', admin_material_types_path
      %li
        = link_to 'Finishes', admin_finishes_path
      %li
        = link_to 'Applications', admin_applications_path


// MAIN NAV + NEWS
= render :partial => 'shared/nav'