
#content-left

  %h1 
    Edit Application

  %ul
    - @applications.each do |app| 
      %li
        = link_to  app.title, edit_admin_finish_path(app)

#content-center.TwoColumnFix

  = form_for @application, :url => admin_application_path, :method => :put do |f| 

    = f.text_field :title

    = f.submit 'Update', :id => "update_application", :class => "submit"
  
  = button_to 'Delete Application', admin_application_path(@application), :method => :delete, :confirm => "Are you sure you want to delete this application and all of it's associations with materials?", :class => "delete", :id => "delete"  