
#content-left

  %h1 
    Edit Material Type

  %ul
    - @material_types.each do |mat_type| 
      %li
        = link_to  mat_type.title, edit_admin_material_type_path(mat_type)

#content-center.TwoColumnFix

  = form_for @material_type, :url => admin_material_type_path, :method => :put do |f| 

    = f.text_field :title

    = f.submit 'Update', :id => "update", :class => "submit"
    
    = button_to 'Delete Material Type', admin_material_type_path(@material_type), :method => :delete, :confirm => "Are you sure you want to delete this material type and all of it's associations with materials?", :class => "delete", :id => "delete"  
