
#content-left

  %h1
    %a{href: "stone.html"} Materials

  // Stone lists: Antiques, Newly Crafted (Excluding ones with Antique in title), All
  %ul
    / ANTIQUES
    %li
      %a
        .arrow
        %span.arrowTxt Antiques

      %ul#antiques
        - @materials_antique_in_title.each do |mat|
          %li
            = link_to "#{mat.title} #{mat.material_type_title}", material_path(mat.cached_slug)
            // Indent for long titles
            // %span.indentLinks Limestone

    / NEWLY CRAFTED
    %li
      %a
        .arrow 
        %span.arrowTxt Newly Crafted

      %ul#newly
        - @materials_newly_crafted_sidebar.each do |mat|
          %li
            = link_to "#{mat.title} #{mat.material_type_title}", material_path(mat)

    / ALL
    %li
      %a.collapsed
        .arrow 
        %span.arrowTxt All Materials

        %ul
          - @materials_alpha.each do |mat|
            %li
              = link_to "#{mat.title} #{mat.material_type_title}", material_path(mat)
            // &ndash; Antique Yangtze
            // Indent for long titles
            // %span.indentLinks Limestone