= render :partial => 'shared/loading'

= render :partial => 'left_side_bar'

#content-center.TwoColumnFix

  .filters 
    .filterWrap
      %select#matTypeId
        %option{ class: "label", value: '', selected: "selected"} Filters by Material Type
        - @all_mat_types.each do |mat_type|
          %option{:value => mat_type.id, :selected => nil }= mat_type.title

    .filterWrap
      %select#matFinishId 
        %option{ class: "label", value: '', selected: "selected"} Filter by Finishes
        - @all_mat_finishes.each do |finish|
          %option{:value => finish.id, :selected => nil }= finish.title
    
    .filterWrap
      %select#matAppId
        %option{ class: "label", value: '', selected: "selected" } Filter by Application
        - @all_mat_apps.each do |app|
          %option{:value => app.id, :selected =>  nil }= app.title         


    .clear
          
    - @material.finishes.each do |fin| 
      - if fin.title.nil?  
        %p= 'None'
      - else
        - @material.mats_with_finishes(fin.id).each do |mat| 
          %p= "finish title: #{fin.title}"
          %h3= "mat title: #{mat.title}"
          - if mat.images.count > 0
            - mat.images.unshift mat.search_icon_image #unless use_default_image.nil? 
            %ul#antique.thumbs.clearfix
            - mat.images.each do |i|    
              %li
                %a{ :href => i.image.url(:large) }
                  %p=test
                  %img{:src => i.image.url(:thumb), :alt => "" }        
                    %span.material    

    / SEARCH RESULTS
    %div#spinner
      %img{:src => asset_path('spinner-light-32.gif') }
      
    %div#materialSearchResults
      %div#newlyCraftedSearchResults      
      %div#antiqueSearchResults   
