= render :partial => 'left_side_bar'

#content-center.TwoColumnFix

  .filters 
    .filterWrap
      %select#mat_type_id
        %option{ class: "label", value: 'none', selected: "selected"} Search by Material Type
        - @all_mat_types.each do |mat_type|
          %option{:value => mat_type.id, :selected => nil }= mat_type.title

    .filterWrap
      %select#mat_finish_id
        %option{ class: "label", value: 'none', selected: "selected"} Search by Finishes
        - @all_mat_finishes.each do |finish|
          %option{:value => finish.id, :selected => nil }= finish.title
    
    .filterWrap
      %select#mat_app_id
        %option{ class: "label", value: 'none', selected: "selected" } Search by Applications
        - @all_mat_apps.each do |app|
          %option{:value => app.id, :selected =>  nil }= app.title         


    .clear
          
    - @material.finishes.each do |fin| 
      - debug(@material)
      - if fin.title.nil?  
        %p= 'None'
      - else
        - @material.mats_with_finishes(fin.id).each do |mat| 
          %p= "finish title: #{fin.title}"
          %h3= "mat title: #{mat.title}"
          - if mat.images.count > 0    
            %ul#antique.thumbs.clearfix
            - mat.images.each do |i|    
              %li
                %a{ :href => i.image.url(:large) }
                  %img{:src => i.image.url(:thumb), :alt => "" }           
                    %span.material    

    %div#searchResults
      %h2
        Search Results 
      %div#newlyCraftedSearchResults   
        = render :partial => 'newly_crafted_search_results'  


