= render :partial => 'left_side_bar'
- @default_image = Image.find(@material.default_image_id)

#content-center

  %h3#mat_title
    =@material.title

    - unless @material.material_type_id.nil?
      - @material_type = MaterialType.find(@material.material_type_id)
      = @material_type.nil? ? 'None' : @material_type.title

  #finish
    - finish_title = @default_image.finish.nil? ? 'None' : @default_image.finish.title
    // Currently, this variable gets pulled from js on the img
    // hmm, i'll have to add some ajax/coffee for this part later -dr. J
    = "FINISH: #{finish_title}"
  
  #min_thickness
    = "#{@default_image.min_thickness} minimum thickness"

  %br 
  
  // AVAILABLE FINISHES
  - if @material.finishes.count > 0
    %p
      %span.caps
        Available finishes:        
      // easy way to comma delimit - J
      = @material.finishes.collect{ |f| f.title }.to_sentence

  // RECOMMENDED USES / APPLICATIONS
  - if @material.applications.count > 0
    %p
      %span.caps
        Recommended Uses:
      = @material.applications.collect{ |app| app.title }.to_sentence  


  // DESCRIPTION
  #description
    %p=simple_format(@material.description)
  
  - unless @material.description.blank?
    %p.readMore Read More
  
  - unless @material.pdf_file_name.nil?
    %p
      Download material PDF:
      %a{:href => "/system/materials/pdfs/#{@material.id}/#{@material.pdf_file_name}", target: "_blank"} 
        = "#{@material.pdf_file_name} (#{number_to_human_size(@material.pdf_file_size)})"


  // MATERIAL SPECS, THESE VARY IN KIND
  .details
    %h3 Material Specifications
    %p=simple_format(@material.specifications)


  // TECH SPECS, THESE VARY IN KIND
  .details
    %h3 Technical Data
    %p=simple_format(@material.technical_data)



#content-right

  = render :partial => 'gallery', :locals => { :material => @material, :material_sorted_images => @material_sorted_images, :image_count => @material.images.count }