= render :partial => 'left_side_bar'

#content-center

  %h3#mat_title
    =@material.title

    - unless @material.material_type_id.nil?
      - @material_type = MaterialType.find(@material.material_type_id)
      = @material_type.nil? ? 'None' : @material_type.title
  
  #finish
    - unless @default_image.nil?
      - unless @default_image.finish.title.nil?
        = "FINISH: #{@default_image.finish.title}"
  
  / MINIMUM THICKNESS
  #min_thickness
    - unless @min_thickness.blank?
      = "Minimum Thickness"" #{@min_thickness}"      

  %br 

  / AVAILABLE FINISHES
  - unless @material.finishes.blank?
    %p
      %span.caps
        Available finishes:        
      / easy way to comma delimit - J
      = @material.finishes.uniq.collect{ |f| f.title }.to_sentence

  / RECOMMENDED USES / APPLICATIONS
  - unless @material.applications.blank?
    %p
      %span.caps
        Recommended Uses:
      = @material.applications.collect{ |app| app.title }.to_sentence  


  / DESCRIPTION
  - unless @material.description.blank?
    #description
      %p=simple_format(@material.description)
      
      / - if @material.description.length > 15
      %p.readMore Read More
      %br 

  / PDF
  - unless @material.pdf_file_name.blank?
    %br
    %p
      Download material PDF:
      %a{:href => "/system/materials/pdfs/#{@material.id}/#{@material.pdf_file_name}", target: "_blank"} 
        = "#{@material.pdf_file_name} (#{number_to_human_size(@material.pdf_file_size)})"


  / MATERIAL SPECS, THESE VARY IN KIND
  - unless @material.specifications.blank?
    .details
      %h3 Material Specifications
      %p=simple_format(@material.specifications)


  / TECH SPECS, THESE VARY IN KIND
  - unless @material.technical_data.blank?
    .details
      %h3 Technical Data
      %p=simple_format(@material.technical_data)



#content-right
  - unless @material.images.blank?
    = render :partial => 'gallery', :locals => { :material => @material, :material_sorted_images => @material_sorted_images, :image_count => @material.images.count }
  
