= render :partial => 'left_side_bar'

#content-center

  %h3#mat_title
    =@material.title

    - unless @material.material_type_id.nil?
      - @material_type = MaterialType.find(@material.material_type_id)
      = @material_type.nil? ? 'None' : @material_type.title

  #finish
    // Currently, this variable gets pulled from js on the img
    // hmm, i'll have to add some ajax/coffee for this part later -dr. J
    FINISH: Finish 
    %br 3&quot; minimum thickness

  // AVAILABLE FINISHES
  - if @material.finishes.count > 0
    %p
      %span.caps
        Available finishes:
      - @material.finishes.each do |finish|
        = finish.title

  // RECOMMENDED USES / APPLICATIONS
  - if @material.applications.count > 0
    %p
      %span.caps
        Recommended Uses:
      - @material.applications.each do |app|
        = app.title

  // DESCRIPTIOMN
  #description
    // Advise on how to break into paragraphs, place inside p tag or no?
    %p=simple_format(@material.description)
  
  - unless @material.description.blank?
    %p.readMore Read More
  
  - unless @material.pdf_file_name.nil?
    %p
      Download material PDF:
      %a{:href => @material.pdf.url, target: "_blank"} 
        = "#{@material.pdf_file_name} (#{number_to_human_size(@material.pdf_file_size)})"


  // MATERIAL SPECS, THESE VARY IN KIND
  .details
    %h3 Material Specifications
    %p=simple_format(@material.specifications)


  // TECH SPECS, THESE VARY IN KIND
  .details
    %h3 Technical Data
    %p=simple_format(@material.technical_data)




#content-right

  = render :partial => 'gallery', :locals => { :material => @material, :material_sorted_images => @material_sorted_images, :image_count => @material.images.count }







