<!DOCTYPE html>
<html>
<head>
  <title>RhodesRor</title>
  <%= stylesheet_link_tag    "application", "core", :media => "all" %>
  <%= javascript_include_tag :defaults # %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="outer">
  <div id="header_back">
    <div id="links_back"></div>
  </div>
</div><!-- outer -->

<div id="wrapper">

  <div id="header">

    <h1 id="logo"><a href="index.html"><span></span>Rhodes.org</a></h1>

    <%= render :partial => "shared/nav_main" %>

  </div><!-- header -->


  <div id="right-back">
    <div id="center-back">
      <div id="left-back">

        <%= yield %>

      </div><!-- left-back -->
    </div><!-- center-back -->
  </div><!-- right-back -->


</div><!-- wrapper -->


<%= render :partial => "shared/footer" %>


</body>
</html>
